@model IEnumerable<CompleteExampleApp.Models.Entities.City>
@{
    ViewData["Title"] = "Cities";
}

<h2>Cities</h2>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>

<table class="table table-striped table-bordered align-middle">
    <thead class="table-dark">
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>
                    <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.Name">Edit</a>
                    <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.Name">Details</a>
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Name">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
